/***********************************
******** GimmeVibe App Styles ******
************************************/

/** Intro **/

.slider { height: 100%; }
.slider-slide { padding-top: 80px; color: #000; background-color: #fff; text-align: center; font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }

#logo { margin: 30px 0px; }

#list { width: 190px; margin: 30px auto; font-size: 20px; }
    #list ol { margin-top: 30px; }
        #list ol li { text-align: left; list-style: decimal; margin: 10px 0px; }


/** Vote **/

.title-bar { width: 100%; padding: 0 60px; }

.emo-grid.col { border: 1px solid #808080; text-align: center; vertical-align: middle; }
    .emo-grid.col img { width: 90%; padding: 2%; text-align: center; vertical-align: middle; }

.happy { background-color: rgba(0, 255, 0, .5); }
.fun { background-color: rgba(255, 255, 0, .5); }
.angry { background-color: rgba(255, 0, 0, .5); }
.cool { background-color: rgba(0, 255, 255, .5); }
.excited { background-color: rgba(255, 255, 255, .5); }
.pain { background-color: rgba(255, 0, 255, .5); }
.indifferent { background-color: rgba(192, 192, 192, .5); }
.sad { background-color: rgba(0, 0, 255, .5); }
.bored { background-color: rgba(0, 0, 0, .5); }

/** Vote Info **/

.emotion-tiny { width: 30px; }
.place-photo { width: 100%; }
.fixed-bottom { position: absolute; bottom: 49px; margin-bottom:0px !important; }

.button-pain { border-color: rgb(255, 0, 255) !important; background-color: rgba(255, 0, 255, .5) !important; color: #fff; }
.button-fun { border-color: rgb(255, 255, 0) !important; background-color: rgba(255, 255, 0, .5) !important; color: rgba(0, 0, 0, .5) !important; }
.button-fun:hover { color:rgba(192, 192, 192, .5) }



