
<ion-tabs class="tabs-icon-only tabs-energized">
    <ion-tab title="Vote" icon-on="ion-happy" icon-off="ion-happy" ui-sref="home.vote">
        <ion-nav-view name="vote-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Results" icon-on="icon ion-social-rss" icon-off="icon ion-social-rss-outline" ui-sref="home.results">
        <ion-nav-view name="results-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline" ui-sref="home.settings">
        <ion-nav-view name="settings-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>