<ion-view title="Where are you?">

    <ion-content class="has-header" has-bouncing="true">
        <div class="list">
            <a ng-repeat="place in places" ng-click="changePlace(place)" class="item item-thumbnail-left">
                
                <img ng-src="{{getPhoto(place)}}">
                <h2>{{ place.name}}</h2>
                <h4>{{ place.vicinity }}</h4>
                <h5><i class="ion-ios7-star pr2"></i>{{getRating(place)}}</h5>
            </a>
        </div>
    </ion-content>

</ion-view>