<ion-view title="Vote">

    <div class="bar bar-subheader bar-stable">
        <h4 class="ion-star"> How do you feel?</h4>
    </div>
    <ion-content class="has-header has-subheader" has-bouncing="false">
        <div class="row">
            <div class="col col-33 emo-grid {{e.name}}" ng-repeat="e in emotions">
                <img ng-src="e.imageUri" ng-click="selectEmotion(e.name)" />
            </div>
        </div>
     <!--<div class="row">
            <div class="col emo-grid happy">
                <img src="images/happy.png" ng-click="selectEmotion('happy')" />
            </div>
            <div class="col emo-grid fun">
                <img src="images/fun.png" ng-click="selectEmotion('fun')" />
            </div>
            <div class="col emo-grid angry">
                <img src="images/angry.png" ng-click="selectEmotion('angry')" />
            </div>
        </div>-->
        <!--<div class="row">
            <div class="col emo-grid cool">
                <img src="images/cool.png" ng-click="selectEmotion('cool')" />
            </div>
            <div class="col emo-grid excited">
                <img src="images/excited.png" ng-click="selectEmotion('excited')" />
            </div>
            <div class="col emo-grid pain">
                <img src="images/pain.png" ng-click="selectEmotion('pain')" />
            </div>
        </div>
        <div class="row">
            <div class="col emo-grid indifferent">
                <img src="images/indifferent.png" ng-click="selectEmotion('indifferent')" />
            </div>
            <div class="col emo-grid sad">
                <img src="images/sad.png" ng-click="selectEmotion('sad')" />
            </div>
            <div class="col emo-grid bored">
                <img src="images/bored.png" ng-click="selectEmotion('bored')" />
            </div>
        </div>-->
    </ion-content>

</ion-view>