<ion-view title="Vote Details">

    <div class="bar bar-subheader bar-stable">
        <h4 class="ion-information-circled"> Confirmate your location</h4>
    </div>

    <ion-content class="padding has-header has-subheader">
        <div class="list">
            <div class="item {{emotion}}">
                You feel: {{emotion | uppercase}}
                <img class="tiny-emo" ng-src="../images/{{emotion}}.png">
            </div>
            <div class="item">
                You are at: 
                <i class="ion-ios7-location"></i> {{placeName}}
            </div>
            <div class="item" ng-hide="placePhotoUrl == null">
                <img ng-src="{{placePhotoUrl}}" class="place-photo" />
            </div>
            <div class="item">
                
            </div>
        </div>

        <button class="button button-energized button-large button-outline icon-left ion-social-rss"
                ng-click="vote()">
            Gimme Vibe
        </button>

    </ion-content>

</ion-view>

<style>
    .tiny-emo { width: 30px; float: right; }
    .place-photo { width:100%; }
</style>