<ion-view title="Vote Details">

    <div class="bar bar-subheader bar-stable">
        <h4><i class="ion-information-circled pr5"></i>Is this info accurate?</h4>
    </div>

    <ion-content class="padding has-header has-subheader">
        <div class="list card">
            <div class="item item-avatar ">
                <img class="emotion-tiny fr" ng-src="images/{{emotion}}.png">
                <h2>
                    I'm feeling <a ui-sref="home.vote">{{emotion | uppercase}}</a>
                </h2>
                <h2>
                    At
                    <i class="ion-ios7-location fs20"></i>
                    <a ui-sref="home.placeslist">{{placeName}}</a>
                </h2>
            </div>
            <label class="item item-input">
                <input type="text" placeholder="Because...">
            </label>
            <div class="item item-image" ng-if="hasImage()">
                <img ng-src="{{placePhotoUrl}}" class="place-photo" ng-hide="placePhotoUrl == null" />
            </div>
            
        </div>
    </ion-content>

    <button class="button button-large button-block icon-right ion-social-rss fixed-bottom {{getClassFor(emotion)}}"
            ng-click="vote()">
        Send my Vibe
    </button>

</ion-view>
