<ion-view title="Vote">

    <div class="bar bar-subheader bar-stable">
        <h4 class="ion-star"> How do you feel?</h4>
    </div>
    <ion-content class="has-header has-subheader" has-bouncing="false">
        <div class="row">
            <div class="col col-33 emo-grid {{e.name}}" ng-repeat="e in emotionsRow1">
                <img ng-src="{{e.imageUri}}" ng-click="selectEmotion(e)" />
            </div>
        </div>
        <div class="row">
            <div class="col col-33 emo-grid {{e.name}}" ng-repeat="e in emotionsRow2">
                <img ng-src="{{e.imageUri}}" ng-click="selectEmotion(e)" />
            </div>
        </div>
        <div class="row">
            <div class="col col-33 emo-grid {{e.name}}" ng-repeat="e in emotionsRow3">
                <img ng-src="{{e.imageUri}}" ng-click="selectEmotion(e)" />
            </div>
        </div>
    </ion-content>

</ion-view>